body {
    padding-top: 50px;
}

/*-------- Navbar -------*/
.cstm-nav {
  background-color:#406730;

}

.nav_txt {
  font-family: 'Dosis';
  font-size: 2rem;
}

.nav-item a {
    opacity: 1.2;
    }
.nav-item a:hover {
  color: yellow;
  }

.badge {
      background-color:white;
      color:#406730;
  }

 .spacer li a {
    margin-right: 10%;
}

/*-------- index page card display button --------*/
.cstm-btn {
  text-align: center;
  height: 40px;
  width: 146px;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #406730;
  outline: none;
  transition-duration: 1s;
}

.cstm-btn:hover,
.cstm-btn:focus {
    background-color: #4da73f;
    opacity: 1;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.card-title{
    text-align: center;
    font-family: 'Dosis';
    color: #406730;
    font-size:1.6rem;
}

.card-text {
    font-family: 'raleway';
    font-size:1.1rem;
}
.cstm-btn a {
    color: white;
    text-decoration: none;
    margin:auto;
}

.crd-img {
  padding-left: 0;
}

.lndg-card  {
    text-align: center;
    
}

.lndg-card p {
    text-align: left;
    color: #6b736b;

}

.heading-txt {
    font-family: 'Dosis';
    margin: auto;
    text-align: center;
    color: #406730;
}

.sub-heading-txt {
    font-family: 'Dosis';
    margin: auto;
    text-align: center;
    color: #6b736b;
}

/*---------Product display page-------- */

.cstm-product{
    margin-top: 5%;
    margin-bottom:5%;
    padding: 5%;
}

.cstm-product p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    border: 2px solid #406730;
    border-radius: 5%;
    padding:5%;
    margin-bottom:3%;
}

.panel-body h3 {
    margin-top:3%;
    text-align: center;
    color: ##406730;
}

.product-description {
    min-height: 40px;
}

.product-category{
    text-align: center;
}
.product-price {
    text-align:right;
    font-size:1.5rem;
    color:#406730;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    margin: 0 auto; 
}

/*--------- Blog Page ------*/

.blog-img {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 350px;
    height: 250px;
    margin: 0 auto; 
}

.blog-btn {
    margin:auto;
    margin-bottom:5%;
}

#blog-head {
    margin-top:5%;
    font-family: 'Dosis';
    color: #406730;

}

.blog-text {
    font-family: 'raleway';
    font-size:1.2rem;
}

.blog-form {
    color:#5da73f;
}

/*--------- Checkout + Cart  ------*/

#cart-product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width:100px;
    height:50px;
}

.checkout-head {
    margin-top: 5%;
    padding-bottom:5%;
    color:#406730;
    border-bottom: 1px solid #406730;
}

#payment-head {
    color:#406730;
    font-size: 2rem;
}
.checkout-itm {
    padding:5%;
    border-bottom: 1px solid #406730;
}

.check-bx {
    padding-right:8%;
}

.check-total p {
  color:#406730;
  padding:1%;
  text-align: right;
}

.row p.check-total{
    color:#406730;
    padding-right:3%;
    padding-top:2%;
}
input.adjust-bx {
    height:5%;
    border: 1px solid #406730;
    border-radius:10%;
    margin-right:4%;
}

button.amend-btn{
    background-color:##406730;
    color: white;
    border-radius:10%;
    padding:2%;
    height:5%;
}
.check-foot{
    justify-content: end;
}

.check-foot a {
    margin-bottom: 52%;
}

.check-qty {
    color:#406730;
}

.input-group {
    flex-wrap:nowrap;
}

form.form-inline {
    justify-content: end;
}

#cstm-success {
    margin:5%;
}

#cstm-success a {
    margin:auto;
}
/*--------- Profile Page ------*/

.profile-pic{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
    width:200px;
    border: 1px solid #406730;
}

.profile{
    color:#4da73f;
    margin-bottom:500px;
}
/*--------- REGISTER PAGE ------*/
.form-group {
    margin-top:2%;
}

.form-group a {
    color:#5da73f;
}
/* -------- Password Reset ------------*/
.password-head{
    margin-top:5%;
}

/* -------- FOOTER ------------*/

.cstm-foot {
  background-color: rgba(0,0,0,.075);
  color: #406730;
  max-height: 1%;
  padding-top: 2;
  text-align:center;
}

.cstm-foot p {
  font-size: 0.8rem;
  margin-bottom: 0;
  color:black;
}

.cstm-foot h2 {
    font-family: 'Dosis';
    margin-top: 1%;
    text-align: center;
}

#foot-head {
    margin-top:1%;
}

.cstm-foot ul li  {
  list-style-type: none;
}

.cstm-social ul {
  display:flex;
  flex-direction: row;
  text-align: center;
}

.cstm-social ul li {
  padding: 2%;
  color: white;
  margin-left:10%;
  text-align: center;
}

.cstm-social ul li a {
  color:  #406730;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.cstm-social ul li a:hover,
.cstm-social ul li a:focus {
    color: #0e0e0e;
}

.foot-frm {
  font-size: 0.8rem;
}

.cstm-contact p {
    font-size: 0.8rem;
    margin: 0.8%;
    color: black;
    text-align: left;
    margin-left:15%;
}

.top-lne{
    margin-top:2%;
}

.cstm-contact i {
    margin-right:3%;
    color: #406730;
}
