body {
    padding-top: 50px;
}

/*-------- Navbar -------*/
.cstm-nav {
  background-color:#5da740;

}

.nav_txt {
  font-family: 'Dosis';
}

.nav-item a {
    opacity: 1.2;
    }
.nav-item a:hover {
  color: yellow;
  }

  .badge {
      background-color:white;
      color:#4da73f;
  }

/*-------- index page card display button --------*/
.cstm-btn {
  text-align: center;
  height: 40px;
  width: 146px;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #5da73f;
  outline: none;
  transition-duration: 1s;
}

.cstm-btn:hover,
.cstm-btn:focus {
    background-color: #4da73f;
    opacity: 1;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.card-title{
    text-align: center;
}

.cstm-btn a {
    color: white;
    text-decoration: none;
}

.crd-img {
  padding-left: 0;
}

.lndg-card  {
    text-align: center;
}

.lndg-card p {
    text-align: left;
}
/*---------Product display page-------- */

.cstm-product{
    margin-top: 50%;
    margin-bottom:50%;
    padding: 5%;
}

.cstm-product p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    border: 1px solid #5da73f;
}

.product-description {
    min-height: 40px;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto; 
}
/* -------- FOOTER ------------*/

.cstm-foot {
  background-color: rgba(0,0,0,.075);
  color: #5da740;
  max-height: 1%;
  padding-top: 2;
  text-align:center;
}

.cstm-foot p {
  font-size: 0.8rem;
  margin-bottom: 0;
  color:black;
}

.cstm-foot h2, h5 {
    font-family: 'Dosis';
    margin-top: 1%;
    text-align: center;
}

.cstm-foot ul li  {
  list-style-type: none;
}

.cstm-social ul {
  display:flex;
  flex-direction: row;
  text-align: center;
}

.cstm-social ul li {
  padding: 2%;
  color: white;
  margin-left:10%;
  text-align: center;
}

.cstm-social ul li a {
  color:  #5da740;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.cstm-social ul li a:hover,
.cstm-social ul li a:focus {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
        transform: scale(1.1);
        font-size:1.3rem;
        padding:1%;
}

.foot-frm {
  font-size: 0.8rem;
}

.cstm-contact p {
    font-size: 0.8rem;
    margin: 0.8%;
    color: black;
    text-align: left;
    margin-left:15%;
}

.top-lne{
    margin-top:2%;
}

.cstm-contact i {
    margin-right:3%;
    color: #5da740;
}