{% extends 'base.html' %}

{% block content %}
<div class="row row-flex">
    {% for item in blog %}
        <div class="col-12 display panel panel-default">
            <div class="panel-body cstm-product">
                <div class="blog-img" style="background-image: url('{{ MEDIA_URL }}{{ item.image }}')"></div>
                <h3>{{ item.headline }}</h3>
                <p>{{ item.author }}</p>
                <p>{{ item.blog_text }}</p>
            </div>
        </div>
    {% endfor %}
        <button type="submit" class="cstm-btn blog-btn"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span><a href="{% url 'create_blog' %}">Make Blog Entry</a></button>
</div>

{% endblock %}