{% extends 'base.html' %}

{% block content %}
<div class="row row-flex">
    {% for item in blog %}
        <div class="col-12 display panel panel-default">
            <div class="panel-body cstm-product">
                <div class="blog-img" style="background-image: url('{{ MEDIA_URL }}{{ item.image }}')"></div>
                <h3 id="blog-head">{{ item.headline }}</h3>
                <p class="blog-text">Author: {{ item.author }}</p>
                <p class="blog-text">{{ item.blog_text }}</p>
            </div>
        </div>
    {% endfor %}
        <a class="btn-success blog-btn text-decoration-none" href="{% url 'create_blog' %}" role="button">Make Blog Entry</a>
</div>

{% endblock %}