{% extends "base.html" %}
{% block content %}

  <section class="col-md-9">
    <div>
    {% for order in order_list %}
      <h4>Order #: {{ user.id }}</h4>
      <h4>Order date:</h4>
      <p>{{ order.date }}</p>
      <h4>Items ordered:</h4>
        <div class="row">
          <p class="col-sm-2 col-md-3">{{ order.full_name }}</p>
          <p class="col-sm-1 col-md-1">{{ order.user }}</p>
          <p class="col-sm-1 col-md-1">{{ order.county }}</p>
        </div>
      {% endfor %}
      <h4>Total:</h4>
      <p>£{{ order_total }}</p>
    </div>
  </section>

{% endblock %}