{% extends "base.html" %}
{% block content %}
    <div class="row row-flex profile">
        <h2 class="col-12">{{ user.username }}'s User Profile</h2>
        <div class="row">
            <div class="profile-pic col-3" style="background-image: url('{{ MEDIA_URL }}{{ user.profile.profile_pic }}')"></div>
            <div class="col-9">
            <p class="col-12">Bio: {{ user.profile.bio }} </p>
            <p class="col-12">Location: {{ user.profile.location }} </p>
            <p class="col-12">Birthday:  {{ user.profile.birthdate }} </p>
            <button type="button" class="cstm-btn col-12"><a href="{% url 'edit_profile' %}">Edit Profile</a></button>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}